{% extends "base.html" %}
{% block content %}

<div class="jumbotron">
<h1>Please Login</h1>
<form action="" method="post" class="form-signin">
	<label for="inputName" class="sr-only">Name</label>
  <input type="text" placeholder="Username" name="username" value="{{request.form.username }}">
  <label for="inputPassword" class="sr-only">Password</label>
  <input type="password" placeholder="Password" name="password" value="{{request.form.password }}"> 
  <br>
  <button id="btnSignUp" class="btn btn-default" type="submit">Log In</button>
  <!-- <input class="btn btn-default" type="submit" value="Login"> -->
</form>
</div>

<p>If you do not have an account yet, sign up <a href="/signup">here</a></p>

{% endblock %}