{% extends "base.html" %}
{% block content %}

<div class="jumbotron">
  <h1>Please Sign Up</h1>
  <form class="form-signin">
  <label for="inputName" class="sr-only">Name</label>
  <input type="username" name="inputName" id="inputName" class="form-control" placeholder="Username" required autofocus>
  <label for="inputPassword" class="sr-only">Password</label>
  <input type="password" name="inputPassword" id="inputPassword" class="form-control" placeholder="Password" required>
   
  <button id="btnSignUp" class="btn btn-default" type="submit">Sign up</button>
</form>
</div>
 
       

{% endblock %}